//single.html、page.htmlのメイン部
#single_page {

    .container {
        display: block;
        padding: 20px 20px 0 20px;

            @include iPad{
                padding: 40px 40px 0 40px;
                display: block;
                // -webkit-box-pack: justify;
                // -ms-flex-pack: justify;
            }
    }

    article {
        padding-bottom: 20px;
        // width: 100%;
            @include pc {
                padding-bottom: 40px;
            }
            h1 {
                color: #000;
                font-size: 1.8rem;
                font-family: 'M PLUS 1p', sans-serif;
                padding-top: 10px;
            }

            p {
                padding: 30px 10px 10px 0;
                font-size: 1rem;
                line-height: 1.5;

                    @include pc {
                        padding: 60px 10px 30px 0;
                    }
            }

            h2 {
                padding: 20px 0;
                font-size: 1.5rem;
                font-family: 'M PLUS 1p', sans-serif;

                    @include pc {
                        padding: 30px 0;
                    }
            }

            h3 {
                padding: 10px 0 20px 0;
                font-size: 1.2rem;

                    @include pc {
                        padding: 30px 0;
                    }
            }

            blockquote {
                    background-color: #F5F5F5;
                    padding: 30px 20px;
                    font-family: 'M PLUS 1p', sans-serif;
                    line-height: 1.5;

                        @include pc {
                            padding: 50px 60px;
                        }
        
                    p {
                        font-size: 1rem;

                            @include pc {
                                padding: 30px 10px 50px 0;
                            }
                    }
        
                    cite {
                            font-size: 1rem;
                            a {
                                color: #4A6C9B; 
                                text-decoration: underline;
                            }
                    }
            }

            // .post_list {
            //     background: url("/img/mainvisual-img/cooked-foods-750073.png");
            //     background-position: center;
            //     background-size: cover;
            //     height: 124px;
            //     width: 100%;

            // }

            figure {
                img {
                    width: 100%;
                    }
            }
            // .media_img {
            //     background: url("/img/mainvisual-img/cooked-foods-750073.png");
            //     background-position: center;
            //     background-size: cover;
            //     height: 89px;
            // }

            .post_media {
                padding: 1em 0;
                // display: inline-block;
                display: flex;
                // .media_img {
                //     width: 45%;
                // }

                @include iPad {
                    padding: 2em 0;
                }

                

                figure {
                    width: 40%;

                        @include pc {
                            width: 50%;
                        }
                    

                    img {
                        width: 100%;
                        height: 89px;
                        @include iPad {
                            height: 150px;
                        }

                        @include pc {
                            height: 358px;
                        }
                    }
                }

                .post_body {
                    width: 60%;

                        @include pc {
                            width: 50%;
                        }

                    p {
                        padding: 0;
                        align-items: start;
                        height: 148px;
                        overflow: hidden;

                        @include iPad {
                            height: 310px;
                        }
                    }
                }
            }

            .post1 {
                p {
                    margin-left: 10px;
                }
            }

            .post2 {
                p {
                    margin-right: 10px;
                }
            }

            .m_media {
                    padding: 20px 0;
                        @include iPad {
                            padding: 20px 0 200px 0;
                        }

                        @include pc {
                            padding: 20px 0 60px 0;
                        }

                figure {
                        text-align: center;
                    img {
                        width: 80%;

                            @include pc {
                                width: 50%;
                            }
                    }
                }
            }

            .photoLibrary {
                padding-bottom: 20px;

                ul {
                    @include iPad {
                        display: flex;
                        // flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    li {
                        padding: 20px 0 0;

                            @include iPad {
                                width: 50%;
                                padding: 20px 7.5px 0 7.5px;
                            }

                            @include pc{
                                width: 33%;
                            }
                    }
                }
            }

            .text_list {
                width: 100%;
                    @include iPad {
                        padding-left: 50px;
                    }

                li {
                    color:#3C2A10;
                    font-size: 1rem;
                    padding: 20px 0 0;
                    line-height: 1.5;
                        @include iPad {
                            font-size: 1.5rem;
                        }
                }

                li:nth-of-type(2) {
                    padding-left: 20px;
                }

                li:nth-of-type(3) {
                    padding-bottom: 40px;
                }

                li:nth-of-type(5) {
                    padding-left: 20px;
                }

                li:nth-of-type(6) {
                    padding-bottom: 20px;
                }
            }

            .code__html {
                background-color: #F5F5F5;
                    
                .code1 {
                    font-size: 1rem;
                    white-space: pre-line;
                    padding: 50px 0 8px 40px;
                        @include iPad {
                            font-size: 1.5rem;
                            padding: 60px 0 8px 50px;
                        }
                }

                .code2 {
                    font-size: 1rem;
                    white-space: pre-line;
                    padding: 10px 0 10px 60px;
                        @include iPad {
                            font-size: 1.5rem;
                            padding: 10px 0 10px 90px;
                        }
                }

                .code3 {
                    font-size: 1rem;
                    white-space: pre-line;
                    padding: 8px 0 50px 40px;
                        @include iPad {
                            font-size: 1.5rem;
                            padding: 8px 0 60px 50px;
                        }
                }
            }

            table {
                width: 100%;
                height: 305px;
                margin: 40px 0;
                border-collapse: collapse;
                background-color: #fff;

                td {
                    border: solid 1px;
                    font-size: 16px;
                    font-family: 'M PLUS 1p', sans-serif;
                    padding-left: 30px;
                    vertical-align: middle;
                }

                td:nth-of-type(1) {
                    width: 45%;
                }

                td:nth-of-type(2) {
                    width: 55%;
                }

                td:nth-of-type(3) {
                    width: 45%;
                }

                td:nth-of-type(4) {
                    width: 55%;
                }

                td:nth-of-type(5) {
                    width: 45%;
                }

                td:nth-of-type(6) {
                    width: 55%;
                }

                td:nth-of-type(7) {
                    width: 45%;
                }

                td:nth-of-type(8) {
                    width: 55%;
                }
            }

            .button_Big{
                text-align: center;
                    @include iPad {
                        text-align: left;
                    }
                    .b_button {
                        // display: block;
                        // font-size: 1rem;
                        // font-weight: bold;
                        // background: rgb(255,247,239);
                        // background: linear-gradient(0deg, rgba(255,247,239,1) 0%, rgba(221,216,213,1) 100%);
                        // border: #707070;
                        // border: solid 1px;
                        // border-radius: 20px;
                        // padding: 28px 142px;

                            a {
                                display: block;
                                font-size: 1rem;
                                font-weight: bold;
                                background: rgb(255,247,239);
                                background: linear-gradient(0deg, rgba(255,247,239,1) 0%, rgba(221,216,213,1) 100%);
                                border: #707070;
                                border: solid 1px;
                                border-radius: 20px;
                                padding: 28px 142px;

                                    @include iPad {
                                        padding: 40px 190px;
                                    }
                            }
                            
                    }
            }

            .bold {
                font-weight: bold;
                padding-bottom: 50px;
            }
    }
}